@font-face {
  font-family: "Clearface Bold";
  src: url("fonts/Clearface\ Gothic\ LH\ 75\ Bold.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Clearface Medium";
  src: url("fonts/clearface-gothic-lt-std-65-medium.otf");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Clearface Bold";
}

.container-fluid {
  padding: 0 15% 0 15%;
  height: 90px;
}

.navbar {
  width: 75%;
  height: 100%;
  padding: 0;
}

.navbar-brand {
  padding: 20px 10px;
  background: radial-gradient(circle, #f9ad00, #f77600);
  border-radius: 0 0 10% 10%;
}

#main-nav {
  position: relative;
  top: 10px;
}

#main-nav .nav-link {
  color: #555;
  font-size: 15px;
}

#right-nav {
  position: absolute;
  left: 70%;
  top: 2%;
}

#top-nav {
  font-family: "Clearface Medium";
  font-size: 10px;
}

#top-nav li a {
  color: #555;
  padding: 5px;
  text-decoration: underline;
}

#register {
  color: #f9ad00;
  padding-right: 20px;
  text-decoration: none;
}

.fa-user {
  color: #f08a00;
  padding-right: 5px;
}

#bottom-nav ul {
  position: relative;
  left: 5.2rem;
}

#bottom-nav li a {
  color: #555;
  padding: 5px 10px;
}

#article-price {
  background-color: black;
}

#article-info-tabs {
  padding: 3% 15% 0;
  font-family: "Caveat", cursive;
  font-size: 1.75rem;
}

.nav-tabs .nav-link.active {
  color: #555;
  background-color: #efefef;
  border: none;
}

.nav-tabs,
.nav-tabs a,
.nav-tabs a:hover {
  color: white;
  border: none;
}

.nav-tabs .nav-item {
  margin-bottom: -2px;
}

.tab-content > .tab-pane {
  display: block;
  visibility: hidden;
}

.tab-content > .active {
  visibility: visible;
}

#article-info {
  font-family: "Clearface Medium";
  color: #555;
  background-color: #efefef;
  padding: 0 15% 3%;
}

#article-info h4 {
  padding: 2.5rem 0;
}

.table {
  font-size: 10px;
  color: #555;
  width: 35%;
}

.table td {
  padding: 0.75rem 0;
  border-bottom: 1px solid #dee2e6;
  border-top: none;
}

td:last-child {
  text-align: right;
}

.btn-dark,
.btn-dark:hover {
  background-color: #f77600;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
}

#more-info {
  margin: 4.5% 0 0 14%;
}

#more-info > p {
  font-family: "Permanent Marker", cursive;
  font-size: 2rem;
  margin-bottom: 0;
}

#related-items {
  padding: 3% 15%;
}

#related-items > h4 {
  font-family: Clearface Medium;
  color: #555;
  text-align: center;
  margin-bottom: 2.5rem;
}

.card {
  font-family: "Clearface Medium";
  width: 10rem;
  height: 10rem;
  border-color: whitesmoke;
  border-radius: 0;
  margin: auto;
}

.card-body {
  color: grey;
  font-size: 10px;
  padding: 0 1.25rem 1.25rem;
}

.card-title {
  color: #555;
  font-size: 12px;
  margin-bottom: 0;
}

.card-arrow {
  color: white;
  border-radius: 10%;
  opacity: 1;
  background: whitesmoke;
}

.splide__arrow--prev {
  left: -1rem;
}

.splide__arrow--next {
  right: -1rem;
}

#footer,
#footer a {
  color: white;
  text-decoration: none;
}

#own-brands {
  background-image: url("images/own-brands-section.jpg");
  background-repeat: no-repeat;
  text-align: center;
  padding: 8% 20% 6%;
}

#own-brands h1 {
  padding: 0 0 1rem 0;
  font-family: "Clearface Medium";
}

.button {
  color: white;
  font-size: 15px;
  border-radius: 0.25rem;
  border: none;
}

.button:hover {
  outline: none;
}

.btn-orange {
  background-color: #f08a00;
  padding: 0.5rem 2rem;
}

#social-media {
  text-align: center;
  padding: 5% 35% 3%;
  background: radial-gradient(#f9ad00, #f77600);
}

.icon {
  color: #f08a00;
  background-color: white;
  border-radius: 50%;
  padding: 1rem;
  margin: 10% 0 5%;
}

.icon-name,
.navigation-link {
  font-size: 12px;
  font-family: Clearface Medium;
}

#flyout-menu {
  position: sticky;
  bottom: 19%;
}

#flyout-menu a {
  background-color: #555;
  border-radius: 0 0.25rem 0.25rem 0;
  padding: 0.5rem 0.5rem 0.75rem;
  margin-bottom: 0.5rem;
}

footer .container-fluid {
  height: auto;
}

#footer-main {
  background-image: url("images/footer-background.jpg");
  margin-top: -16.25rem;
}

#navigate-up {
  font-family: "Caveat", cursive;
  text-align: center;
  padding: 1rem 0 0;
}

.navigation-list {
  list-style: none;
  padding-inline-start: 0;
  font-size: 12px;
}

#footer-bottom {
  font-size: 8px;
  text-align: center;
  padding: 1rem 0;
}

#footer-bottom a {
  text-decoration: underline;
  padding: 0 0.5rem;
}

@media (min-width: 992px) and (max-width: 1244px) {
  #main-nav .nav-link {
    font-size: 12px;
    padding: 0 3.5px;
  }

  .card {
    width: 8rem;
    height: 9rem;
  }
}

@media (min-width: 383px) and (max-width: 991px) {
  #register {
    position: relative;
    top: 1.25rem;
  }

  .fa-user {
    font-size: 2rem;
  }

  #top-nav {
    font-size: 15px;
  }
}

@media screen and (max-width: 991px) {
  .icon {
    font-size: 1rem;
  }

  .footer-column {
    border-bottom: 1px solid;
  }

  .footer-column:last-child {
    border-bottom: 0;
  }

  .column-headline {
    padding: 0.5rem 0;
  }

  .column-headline a::after {
    font-family: "FONTAWESOME";
    content: "\f078";
    float: right;
  }

  .column-headline a.expanded::after {
    content: "\f077";
  }
}

@media screen and (max-width: 382px) {
  .navbar-brand {
    position: relative;
    left: -35px;
    top: -28px;
    transform: scale(0.5, 0.5);
  }

  .navbar-toggler {
    position: relative;
    top: -100px;
    left: 30px;
  }

  #main-nav {
    top: -80px;
  }
}

@media screen and (max-width: 320px) {
  #more-info > p {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 992px) {
  #footer-columns {
    display: flex;
    justify-content: space-between;
  }

  .column-headline a:hover {
    pointer-events: none;
  }

  .navigation-list.collapse:not(.show) {
    display: block;
  }

  #footer-bottom {
    width: fit-content;
    position: relative;
    left: 90%;
  }
}
